/* .p{
    background-color: aquamarine;
    padding: 24px;
}
.c{
    background-color: yellowgreen;
    padding: 24px;
}
@media(width<=900px){
    .p{
        height: 200px;
        background-color: yellow;
    }
}
@media(width<=800px){
    .p{
        height: 200px;
        background-color: green;
    }
} */

.container{
    height: 500px;
    background-color: yellow;
    margin: 100px;
}

.child{
    height: 40px;
    width: 40px;
    background-color: blueviolet;
    position: sticky;
    top: 50px;
}