.root{
    background-color: yellowgreen;
    display: flex;
    flex-wrap: wrap;
}
img{
    max-width: 270px;
}
.root>div{
    background-color: green;
    margin: 50px;
}
div>div{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
h3,p{
    color: white;
    align-self: center;
    justify-content: center;
    font-size: larger;
}
nav{
    margin-left: 500px;
}
label{
    font-weight: 700;
}